// stylelint-disable-next-line block-no-empty


.appBar {
  width:24%;
  height:100px;
  float:left;
  vertical-align: center;
  background: white;
  text-align: center;
  border: rgba(238, 238, 238, 0.918) 1px solid;
  border-radius: 10px;
  margin-left: 3px;
  padding-top: 5%;
}
